:root {
  /* Color palette 1 */

  --navy: #0e1627;
  --mauve: #bd8e89;
  --pink: #e5c5c1;
  --blush: #f4e1e0;
  --prune: #7f6269;

  /* Color palette 2 */

  --navy: #2f4156;
  --teal: #567c8d;
  --beige: #f5efeb;
  --white: #ffffff;
  --skyBlue: #c8d9e6;

  /* Color palette 3 */

  --black: #000000;
  --granite: #b7a7a9;
  --beige: #f6ece3;
  --white: #ffffff;
  --brown: #91766e;
}
